* {
    color: #4D4D4D !important;
}

.register-btn {
    background: #4CAF4F;
    color: white;
    padding-top: 9.74px;
    padding-right: 22.27px;
    padding-bottom: 9.74px;
    padding-left: 22.27px;

    border-radius: 2.78px;

}

.register-btn:hover {
    background: #3a6e3c;
    color: white;
    padding-top: 9.74px;
    padding-right: 22.27px;
    padding-bottom: 9.74px;
    padding-left: 22.27px;

    border-radius: 2.78px;

}

.one {
    background: #F5F7FA;

}

.greenClr {
    color: #4CAF4F !important;
}

.one h1 {
    font-size: 45px;
    font-weight: 600;
}

.fontSize {
    font-size: 11.14px;
}

/* .h1{
    font-size: 45px;
 } */
.myCard {
    width: 208px !important;
    padding-top: 16.71px;
    padding-right: 22.27px;
    padding-bottom: 16.71px;
    padding-left: 22.27px;
    border-radius: 5.57px;

}

.myCard {
    font-size: 9.74px;
}

.bg-Dark {
    background-color: #263238;
}

footer {
    font-size: 10px;
    color: #F5F7FA !important;

}

.footer-Input {
    border: none;
    background-color: #515B60;
    padding: 5px;
    border-radius: 6px;

}
.footer-Input::placeholder{
    color: white;
    font-size: 8px;
}
.footer-Img{
    top:7px;
    right:110px;
}